* {
  padding:0;
  margin:0;
  font-family: sans-serif;
}
a {
  color: inherit;
  text-decoration: none;  
}

html {
  scroll-behavior: smooth;
}
.container {
  width:80%;
  margin:0 auto;
}
.container::after {
  content: none;
  display: block;
  clear: both;
}
header {
  height: 65px;
  width: 100%;
  background-color:#f3a683;
  position: fixed;
  top:0;
  z-index: 10;
}
header h1 {
  float: left;
  padding:15px 0;
  color:#fff;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
}
header ul li a {
  padding:25px 20px 21px 20px;
  transition: all 0.3s;
  display: inline-block;
}
header ul li a:hover {
  background-color:#e15f41;
  color: #fff;
}
.active {
  background-color:#e15f41;
  color: rgb(224, 135, 135) #f3a683;
}    
.head-container{
  background-image: linear-gradient(to bottom right, #F3A683, #FFE9DE, #FAF5F3);
  box-shadow: 0 0 5px 10px #FFE9DE;
  height: 500px;
  animation: float-up 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes float-up{
  from { top: 20px;}
  to { opacity:1; top: 0px}
}

.content-text{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 20px;
  margin: 70px 150px 0px 150px;
  color: #E15F41;
  animation: swipe-left 3s;
}

.content-text * {
  padding-top: 20px;
}
.content-text h1 {
  font-size: 50px;
}

.content-text p {
  font-size: 20px;
}

.btn-group {
  display: inline-block;
  margin-top: 20px;
  
}
.btn{
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #F78550;
  letter-spacing: 2px;
  color: #6E2B0B;
  transition: all 0.3s;
  box-shadow: 0px 7px #e15f41;
}

.btn:hover{
  background-color: #FAF5F3;
  color: #F78550;
}

.btn:active{
  position: relative;
  box-shadow: none;
  top: 7px;
}
.content-img{
  float: right;
  padding: 75px 0;
  animation: swipe-right 3s;
}

.content-img img {
  width: 500px
}

@keyframes swipe-left {
  from { margin-left: -593px;}
  to { margin-left: 150px;}
}

@keyframes swipe-right {
  from { margin-right: -500px;}
  to { margin-right: 0px;}
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lessons {
  margin-top: 20px;
}
.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon * {
  margin-top: 20px;
}
.lesson-icon p {
  /* position: absolute; */
  top: 130px;
  width: 100%;
  color: black;
  font-weight: bold;
}

.lesson-icon span {
  /* position: absolute; */
  top: 130px;
  width: 100%;
  color: black;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  /* margin-top: 20px; */
  padding-top: 20px;;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
font-weight: normal;
}

form {
  font-family: Arial;
}

form .container {
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 7px 7px 7px grey;
  border-radius: 30px;
  width: 35%;
  margin-bottom: 100px;
  margin-top: 100px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #f3a683;
  color: Black;
  border: none;
  box-shadow: 0 3px #e15f41;
  letter-spacing: 3px;
  
}

input[type=submit]:hover {
  opacity: 0.8;
}

input[type=submit]:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer {
  background-color: #f3a683;
  color: #fff;
  height: 150px;
}

.footer-logo {
  font-size: 36px;
  padding-top: 10px;
  font-weight: bold;
  padding-left: 95px;
}

.footer-logo span {
  color: #e15f41;
}

.footer-list {
  float: left;
  margin-left: 95px;
}

.footer-list li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;

}

.icon-list {
  padding-right: 5px;
  position: absolute;
  right: 95px;
  top: 120 px;
}


.icon-list li {
  margin-left: 20px;
  display: inline-block;
  
}

